body {
  background-image: url("./assets/phonesgen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding-top: 2rem;
  color: white;
}


#phones{
 display: flex;
 flex-direction: column;
  padding: 50px; 
 justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  align-items: center;
  width:500px;
  height: 600px;
  border: solid 5px black;
  float: left;
 margin-left: 0px;
 margin-right: 5px;
  

}

#phones img{
  width: 250px;
  height: 330px;
  
}

#about{
  color: white;
  border: solid black 5px;
  background-color: rgba(0, 0, 0, 0.7) ;
}

#brand{
  color: orange;
}

@media screen and (max-width: 600px) {
  
}
